/* 1.全部 */
.AddPopupSection {
    font-size: 22px;
}

/* 2.上半部 */
.AddPopupTopSection {
    position: relative;
    background-color: rgba(0, 0, 0, 0.293);
    top: -26px;
    height: 60px;
    border: none;
    border-bottom: 1px solid #000000;
}

/* 3.下半部 */
.AddPopupInputSection {
    display: block;
}

/* 4.下半部左 */
.AddPopupInputLeft {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.AddPopupLabel {
    margin-top: 10px;
    margin-left: 30px;
}

/* 5.下半部右 */
.AddPopupInputRight {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    position: relative;
}

.AddPopupTopSection button:hover {
    filter: brightness(120%);
    transition: filter 0.3s ease-in-out;
    mix-blend-mode: difference;
}

.AddPopupTopSection h3 {
    position: relative;
    top: 10px;
    left: 15px;
}

.AddPopupTopSection button {
    background-image: url('file:///E:/KaiLun_Secret/程式語言啦幹/Side%20Project/food_website/src/data/cancel_button.png');
    background-repeat: no-repeat;
    background-size: 27px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    mix-blend-mode: normal;
}










.AddPopupInput {
    font-size: 22px;
    margin-top: 10px;
    margin-left: 10px;
}

#previewPic {
    max-width: 250px;
    max-height: 340px;
}






/* .AddPopupInput {
    margin-top: 30px;
    margin-left: 10px;
} */



/* .AddPopupPic {
    position: relative;
    top: -324px;
    left: 400px;
    right: 5px;
} */