#RecommendSection {
    width: 100%;
    height: 3000px;
    background-color: rgba(32, 218, 63, 0.5);
}

.RecommendText {
    padding-top: 90px;
    padding-left: 100px;
    margin-bottom: -150px;
    font-size: 100px;
    font-weight: 550;
}

@media (max-width: 1000px) {
    .RecommendText {
        padding-top: 80px;
        padding-left: 80px;
        font-size: 80px;
    }
}

@media (max-width: 500px) {
    .RecommendText {
        padding-top: 50px;
        padding-left: 50px;
        font-size: 70px;
    }
}