/* [四個區域] */
/* *全區域 */
.Res_Box {
    border-top: 1px solid #726e6e;
    background-color: rgba(193, 188, 188, 0.5);
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 30vh;
    width: 91%;
    height: 280px;
}

/* 一、圖片區域 */
.Res_PicSection {
    display: flex;
    height: 100%;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.Res_PicSection.darken {
    pointer-events: none;
    z-index: -1;
}

.Res_PicSection img {
    max-height: 80%;
    max-width: 80%;
}

/* 二、左邊資訊 */
.Res_LeftSection {
    position: relative;
    width: 25%;
    height: 85%;
}

/* 三、右邊區域 */
.Res_RightSection {
    position: relative;
    width: 25%;
}

/* 四、地圖區域 */
.Res_MapSection {
    position: relative;
    width: 25%;
}

/* [4個區域的細節] */
.Res_Title {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
}




#RecommendSection {
    width: 100%;
    height: 3000px;
    background-color: rgba(32, 218, 63, 0.5);
}

.RecommendText {
    position: relative;
    left: 5%;
    top: 4%;
    width: 90%;
    font-size: 100px;
    z-index: 9;
    font-weight: 550;
}




.Res_Box.darken {
    pointer-events: none;
    z-index: -1;
}





.Res_LeftSection.darken {

    pointer-events: none;
    z-index: -1;
}

.Res_Left_Title {
    position: relative;
    top: 5%;
    left: 4%;
    font-size: 40px;
}

.Res_Left_Classification {
    position: relative;
    top: 8%;
    left: 4%;
    font-size: 20px;
}

.Res_Left_IntroduceSection {
    position: relative;
    top: 10%;
    left: 4%;
    height: 62%;
    width: 96%;
    font-size: 20px;
    word-wrap: break-word;
}

.Res_Left_IntroduceTitle {
    position: relative;
    font-size: 20px;
}

.Res_Left_ButtonSection {
    position: relative;
    background-color: coral;
}



.Res_Right_TextSection.darken {

    pointer-events: none;
    z-index: -1;
}

.Res_Right_Score {
    position: relative;
    top: 5%;
    left: 4%;
    font-size: 20px;
}

.Res_Right_CommentTitle {
    position: relative;
    top: 8%;
    left: 4%;
    font-size: 20px;
}

.Res_CommentRollBox {
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 5px;
    padding-left: 5px;
    overflow: auto;
    height: 70%;
    width: 95%;
    background-color: rgb(79, 79, 81);
    font-size: 20px;

}



.Res_MapSection.darken {
    pointer-events: none;
    z-index: -1;
}

.ModifyPopupButton {
    /* position: relative;
    top: 100px; */
    width: 100px;
}

.CommonPopupButton {
    /* position: relative;
    top: 100px; */
    width: 100px;
}

.CommonPopupBackgroud {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.CommonPopupSection {
    width: 50%;
    height: 60%;
    background-color: white;
}

.ModifyPopupBackgroud {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.ModifyPopupSection {
    width: 50%;
    height: 60%;
    background-color: white;
}